<?php
/**
* PHP-CS-Fixer Config.
*/

namespace GoetasWebservices\CS;

require_once __DIR__.'/vendor/autoload.php';

return new Config([
    __FILE__,
    (__DIR__.'/src/'),
    (__DIR__.'/tests/'),
]);
