<?php

declare(strict_types=1);
/**
 * PHP-CS-Fixer Config.
 */

namespace GoetasWebservices\CS;

require_once __DIR__.'/vendor/autoload.php';

return new Config([
    __FILE__,
    (__DIR__.'/php-cs-fixer/'),
    (__DIR__.'/src/'),
    (__DIR__.'/tests/'),
]);
